:root{
    /* colors */
    --header-bg-color: #1b72e8;
    --sidebar-bg-color: #051e34;
    --searchbar-bg-color: #e5e5e5;
    --notification-color: #ff8f00;

    /* dimentions */
    --navbar-height: 60px;
    --sidebar-sm-width: 75px;
    --sidebar-lg-width: 250px;
    --header-height: 100px;
}

/* ! MY UTILITIES */
[class^="col"]{
    border: 1px dashed yellow;
}

/* ! GENERALS */
/* ? NAVBAR */
#top-navbar{
    height: var(--navbar-height);
    background-color: #f8f9fa; 
}

#top-navbar > .container-fluid{
    background-color: white;
}

#top-navbar .logo{
    max-height: 40px;
}

#top-navbar input[type="search"]{
    background-color: var(--searchbar-bg-color);
    color: black;
    border: 0;
}

#top-navbar input[type="search"]::placeholder{
    color: black;
}

#top-navbar input[type="search"]:focus{
    box-shadow: none;
}

#top-navbar .input-group .btn{
    background-color: var(--searchbar-bg-color);
}

#notificationsButton{
    background-color: transparent;
    border: none;
    color: var(--notification-color);
}

/* to hide the arrow */
#notificationsButton::before{
    display: none;
}

/* to better align dropdown menu */
#notificationsButton ~ .dropdown-menu{
    top: 100%;
    right: 0;
}

/* ! CONTENTS */
#contents{
    height: calc(100vh - var(--navbar-height));
}

/* # SIDEBAR */
#sidebar{
    background-color: var(--sidebar-bg-color);
    color: white;
    
    width: var(--sidebar-sm-width);
    height: 100%;
}

#sidebar .col{
    height: 25px;
}

/* # HEADER */
main header{
    background-color: var(--header-bg-color);    
    color: white;

    height: var(--header-height);    
}

/* # MAIN */
main{
    width: 100%;
    background-color: gray;
    overflow-y: auto;
}

/* ! MEDIA QUERIES */

@media screen and (min-width: 992px) {
    #sidebar{
        width: var(--sidebar-lg-width);
    }
}