:root{
    /* colors */
    --main-bg-color: #f8f9fa;
    --sidebar-bg-color: #051e34;
    --searchbar-bg-color: #e5e5e5;
    --notification-color: #ff8f00;

    /* dimentions */
    --navbar-height: 60px;
    --sidebar-sm-width: 50px;
    --sidebar-lg-width: 175px;
}

/* ! NAVBAR */
#top-navbar{
    height: var(--navbar-height);
    background-color: var(--main-bg-color); 
}

/* as in screenshot, navbar has two colors */
#top-navbar > .container-fluid{
    background-color: white;
}

#top-navbar .logo{
    max-height: 40px;
}

#top-navbar input[type="search"]{
    background-color: var(--searchbar-bg-color);
    color: black;
    border: 0;
}

#top-navbar input[type="search"]::placeholder{
    color: black;
}

#top-navbar input[type="search"]:focus{
    box-shadow: none;
}

#top-navbar .input-group .btn{
    background-color: var(--searchbar-bg-color);
}

#notificationsButton{
    border: none;
    color: var(--notification-color);
}

/* to hide the arrow */
#notificationsButton::before{
    display: none;
}

/* to better align dropdown menu */
#notificationsButton ~ .dropdown-menu{
    top: 100%;
    right: 0;
}

/* ! CONTENTS */
#contents{
    height: calc(100vh - var(--navbar-height));
}

/* # SIDEBAR */
#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--sidebar-bg-color);
    color: white;
    
    flex: 0 0 var(--sidebar-sm-width);
    height: 100%;
}

/* sidebar icons are not the same width, forcing a width aligns the descriptions */
#sidebar .fa-solid{
    width: 25px
}

#sidebar a{
    text-decoration: none;
}

#sidebar a:hover{
    background-color: #bbb;
}

/* # HEADER */
header .offcanvas.offcanvas-end{
    width: 100vw;
    transition: transform 500ms ease-in-out;
}

header .rounded-pill{
    background-color: rgba(0,0,0,.25);
    font-weight: bold;
}

/* # MAIN */
main{
    background-color: var(--main-bg-color);
    flex-grow: 1;
    overflow-y: auto;
}

table th:not(:first-child),
table td:not(:first-child){
    width: 125px;
}

table th:first-child,
table td:first-child{
    text-align: left;
}

#table img{
    width: 35px;
    border-radius: 50%;
}

#todo li *{
    cursor: pointer;
}


/* ! MEDIA QUERIES */

@media screen and (min-width: 992px) {
    #sidebar{
        flex-basis: var(--sidebar-lg-width);
    }
}

@media screen and (min-width: 1200px){
    header .offcanvas.offcanvas-end{
        width: 50vw;
    }
}