:root{
    /* colors */
    --header-bg-color: #1b72e8;
    --sidebar-bg-color: #051e34;

    /* dimentions */
    --navbar-height: 100px;
    --sidebar-sm-width: 75px;
    --sidebar-lg-width: 250px;
    --header-height: 100px;
}

/* ! MY UTILITIES */
[class^="col"]{
    border: 1px dashed yellow;
    height: 100%;
}

/* ! GENERALS */
/* ? NAVBAR */
#top-navbar{
    height: var(--navbar-height);    
}

/* ! CONTENTS */
#contents{
    height: calc(100vh - var(--navbar-height));
}

/* # SIDEBAR */
#sidebar{
    background-color: var(--sidebar-bg-color);
    
    width: var(--sidebar-sm-width);
    height: 100%;
}

/* # HEADER */
main header{
    background-color: var(--header-bg-color);    
    color: white;

    height: var(--header-height);    
}

/* # MAIN */
main{
    width: 100%;
    background-color: gray;
    overflow-y: auto;
}

/* ! MEDIA QUERIES */

@media screen and (min-width: 992px) {
    #sidebar{
        width: var(--sidebar-lg-width);
    }
}